@model Article
@{
    var authors = (IList<Person>)ViewBag.Authors;
}

<div asp-validation-summary="ModelOnly"></div>

<div class="mb-3">
    <label asp-for="Title" class="form-label"></label>
    <input asp-for="Title" class="form-control">
    <span asp-validation-for="Title"></span>
</div>
<div class="mb-3">
    <label asp-for="Content" class="form-label"></label>
    <textarea asp-for="Content" class="form-control"></textarea>
    <span asp-validation-for="Content"></span>
</div>
<div class="mb-3">
    <label asp-for="AuthorId" class="form-label"></label>
    <select asp-for="AuthorId" class="form-control">
        @foreach (var author in authors)
        {
            <option value="@author.Id">@author.FirstName @author.LastName</option>
        }
    </select>
    <span asp-validation-for="AuthorId"></span>
</div>